<!DOCTYPE html>
<html>
<head>
    <title>Astronomy Dashboard</title>
</head>
<body>

    <h1>Astronomy Dashboard</h1>

    <hr>

    <h2>Tools</h2>

    <form action="/travel_time">
        <button type="submit">Travel Time Calculator</button>
    </form>

    <br>

    <form action="/travel_time_db">
        <button type="submit">Travel Time Calculator V2 (Database)</button>
    </form>

    <br>

    <form action="/au_to_ly">
        <button type="submit">AU to Light-Year Converter</button>
    </form>

    <br>

    <form action="/ly_to_au">
        <button type="submit">Light-Year to AU Converter</button>
    </form>

    <br>

    <form action="/stellarium">
        <button type="submit">Open Stellarium Web</button>
    </form>

</body>
</html>
