
<!DOCTYPE html>
<html>
<head>
    <title>Light-Year to AU Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}?v=3">
</head>
<body>

    <h1>Light-Year to AU Converter</h1>

    <form method="post">

        <label for="ly">Light-Years (LY):</label>
        <input type="text" name="ly" id="ly"><br><br>

        <button type="submit">Convert</button>

    </form>

    {% if error %}
        <h3 style="color:red;">{{ error }}</h3>
    {% endif %}

    {% if ly %}
<div class="result-box">

    <h2>Astronomical Units:</h2>

    <p style="font-size: 25px; font-weight: bold;">
        {{ ly }}
    </p>

</div>
{% endif %}

    <br>
    <a href="/">Back to Dashboard</a>

</body>
</html>